/* Pusle */
/* Rotate */
.dtt-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.dtt-rotate:hover,
.dtt-rotate:active,
.dtt-rotate:focus {
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}

@mixin pulse {
  @include hacks();
  &:hover,
  &:focus,
  &:active {
    @include prefixed(animation-name, #{$nameSpace}-pulse);
    @include prefixed(animation-duration, 1s);
    @include prefixed(animation-timing-function, linear);
    @include prefixed(animation-iteration-count, infinite);
  }
}
