/* Border Fade */

@mixin border-fade {
  $border-width: 4px;

  @include hacks();
  @include prefixed(transition-property, box-shadow);
  @include prefixed(transition-duration, $mediumDuration);
  box-shadow: inset 0 0 0 $border-width $backgroundColor,
    0 0 1px rgba(0, 0, 0, 0);

  &:hover,
  &:active,
  &:focus {
    box-shadow: inset 0 0 0 $border-width $activeColor, 0 0 1px rgba(0, 0, 0, 0);
  }
}