/* Ripple In */

@include keyframes(#{$nameSpace}-ripple-in) {
  100% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
  }
}

@mixin ripple-in {
  $outerBorderWith: 6px;
  @include hacks();
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: -(6px + 6px);
    left: -(6px + 6px);
    right: -(6px + 6px);
    bottom: -(6px + 6px);
    border: $outerBorderWith solid $backgroundColor;
    opacity: 0;
    @include prefixed(animation-duration, 1s);
  }

  &:hover,
  &:active,
  &:focus {
    &:before {
      @include prefixed(animation-name, #{$nameSpace}-ripple-in);
    }
  }
}
