/* Trim */

@mixin trim {
  $outerBorderWidh: 4px;
  $innerBorderWidth: 4px;
  @include hacks();
  position: relative;

  &:before {
    content: "";
    position: absolute;
    border: white solid $innerBorderWidth;
    top: $outerBorderWidh;
    left: $outerBorderWidh;
    right: $outerBorderWidh;
    bottom: $outerBorderWidh;
    opacity: 0;
    @include prefixed(transition-property, opacity);
    @include prefixed(transition-duration, $mediumDuration);
    @include prefixed(transition-timing-function, ease-out);
  }

  &:hover,
  &:active,
  &:focus {
    &:before {
      opacity: 1;
    }
  }
}
