// Bounce To Right
@mixin bounce-to-right {
  @include hacks();
  position: relative;
  @include prefixed(transition-property, color);
  @include prefixed(transition-duration, $mediumDuration);

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $activeColor;
    @include prefixed(transform, ScaleX(0));
    @include prefixed(transform-origin, 0 50%);
    @include prefixed(transition-property, transform);
    @include prefixed(transition-duration, $mediumDuration);
    @include prefixed(transition-timing-function, ease-out);
  }

  &:hover,
  &:active,
  &:focus {
    color: white;
    &:before {
      @include prefixed(transform, ScaleX(1));
      @include prefixed(
        transition-timing-function,
        cubic-bezier(0.52, 1.64, 0.37, 0.66)
      );
    }
  }
}
