/* Sweep To Botton */
@mixin sweep-to-botton {
  @include hacks();
  position: relative;
  @include prefixed(transition-property, color);
  @include prefixed(transition-duration, $mediumDuration);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: $activeColor;
    @include prefixed(transform, ScaleY(0));
    @include prefixed(transform-origin, 50% 0);
    @include prefixed(transition-property, transform);
    @include prefixed(transition-duration, $mediumDuration);
    @include prefixed(transition-timing-function, ease-out);
  }

  &:hover,
  &:active,
  &:focus {
    color: white;
    &:before {
      @include prefixed(transform, ScaleY(1));
    }
  }
}
