/* Buddle Float Bottom */

@mixin bubble-float-bottom {
  @include hacks();
  position: relative;
  @include prefixed(transition-property, transform);
  @include prefixed(transition-duration, $mediumDuration);
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: calc(50% - #{$tipWidth});
    border-style: solid;
    border-width: $tipWidth $tipWidth 0 $tipWidth;
    border-color: $tipColor transparent transparent transparent;
    @include prefixed(transition-property, "bottom");
    @include prefixed(transition-duration, $mediumDuration);
  }

  &:hover,
  &:active,
  &:focus {
    @include prefixed(transform, translateY(-$tipWidth));
    &:before {
      bottom: -$tipWidth;
    }
  }
}
